// Responsive breakpoints
$responsive-xs-max-width: 767px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;


// Colors texts
$textColor: #8c8a8c;
$textFirstColor: #FFFFFF;
$textSecondColor: #3367ab;
$textThirdColor: #757575;
$textFourthColor: #323e42;
$txtColorCmcl: #b2b2b2;
$mainBlue: #0070E0;

// Colors borders
$borderColor: #D8D8D8;
$borderSecondColor: #C1C7CD;
$borderThirdColor: #DCE3E6;

// Colors bg
$headerColor: #21314d;
$colorBackground: #01c3a7;
$colorSecondBackground: #3f618c;
$colorThirdBackground: #f5f5f5;
$colorFourthBackground: #F6F7FA;

// Fonts
$globalFonts: SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
